@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
	--primary-font-color: #484848;
	--secodary-font-color: #8A8A8A;
	--primary-font-size: 46;
	--font-weight: 700;
	--btn-bg-color: #000;
	--bg-color:#E0E0E0;
	--medium-font-size:91px;
	--lg-font-size: 187px;
	--medium-font-weight: 500px;
	--text-transform-uppercase: uppercase;
	--font-size-regular:400;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.flex {
	display: flex;
}

.align-item-center {
	align-items: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.relative {
	position: relative;
}

.abosalute {
	position: absolute;
}

.hero {
	max-width: 1920px;
	margin-inline: auto;
}

.addToCart {
	padding: 20px 19px;
	background-color: #000;
	border-radius: 50%;
	width: 57px;
	height: 57px;
	border-radius: 10px;
	margin-right: 20px;
}

.scrole {
	padding: 16px 20px;
	border-radius: 50%;
	width: 57px;
	height: 57px;
	border: 2px solid #000000;
	text-align: center;
	overflow: hidden;
}

.shopping-icons {
	right: 40px;
	bottom: 230px;
}

header{
	max-width: 1281px;
	margin-inline: auto;
	padding-block: 70px;
	flex-direction: column;
	gap: 94px;
}
.nav-bar li {
	list-style: none;
}

.nav-bar li a {
	text-decoration: none;
}


.menu {
	gap: 58px;
	align-items: center;
}

.menu li {
	list-style: none;
}

.menu-cta {
	text-decoration: none;
	color: var(--primary-font-color);
	display: inline-block;
	position: relative;
	transition: all .3s ease-in-out;
}

.menu-cta::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all .3s ease-in;
	width: 0;
	height: 2px;
	background-color: #484848;
}

.menu-cta:hover::after {
	width: 100%;
}

.singUp-cta {
	padding: 15px 35px;
	color: #fff !important;
	background: #000;
	border-radius: 10px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	transition: all .3s ease-in;
	z-index: 1;
}

.singUp-cta::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	transition: all .3s ease-in;
	z-index: -1;
	background-color: var(--primary-font-color);
	border-radius: 10px;
}

.singUp-cta:hover:after {
	width: 100%;
	left: 0;
}

.close-menu, .open-menu {
	display: none;
	position: absolute;
	font-size: 40px;
	color: var(--primary-font-color);
}

.open-menu {
	right: 20px;
}

.close-menu {
	top: 0;
	right: 20px;
}

#check {
	display: none;
}

.collection {
	gap: 35px;
}

.collection-img {
	max-width: 392px;
	background-color: var(--bg-color);
	padding-inline: 80px;
	border-radius: 10px;
	font-size: 0;
	align-items: end;
}

.collection-img img {
 max-width: 392px;
}

.collection-info {
	flex-direction: column;
	gap: 33px;
	max-width: 440px;
}

.collection-info_img {
	max-width: 426px;
}

.collection-info_img img {
	width: 100%;
}

.collection-text {
	flex-direction: column;
	gap: 10px;
	max-width: 399px;
}

.collection-descriptoin {
	color: var(--primary-font-color);
	text-transform: var(--text-transform-uppercase);
	font-weight: var(--font-size-regular);
}

.collection-title {
	font-size: var(--medium-font-size);
	color: var(--primary-font-color);
	font-weight: var(--medium-font-size);
	text-transform: var(--text-transform-uppercase);
}

.collection-heading {
	font-size: var(--lg-font-size);
	font-weight: var(--medium-font-weight);
	-webkit-text-stroke: 2px black;
	text-transform: var(--text-transform-uppercase);
	color: transparent;
	line-height: 100%;
}

.partners {
	width: 100%;
	overflow: hidden;
}

.logo-container {
	animation: moveLogos 10s linear 2;
	gap: 70px;
}

@keyframes moveLogos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width:992px) {
	.menu {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		position: fixed;
		left: 100%;
		top: 120px;
		transition: all .3s ease-in-out;
		z-index: 100;
		background-color: #fff;
	}

	.close-menu , .open-menu {
		display: block;
	}

	#check:checked ~ .menu {
		left: 0;
	}

	#check:checked ~ .open-menu {
		display: none;
	}

	.collection {
		flex-direction: column;
		align-items: center;
		max-width: 100%;
	}

	.collection-img {
		flex-grow: 1;
	}

	.collection-img img {
		width: 100%;
	}
	header {
		padding-inline: 20px;
	}

	.logo-container {
		flex-direction: column;
	}

	.shopping-icons {
		bottom: 0;
	}

	.collection-info, .collection-text {
		max-width: 100%;
	}

	.collection-heading , .collection-title {
		font-size: 60px;
	}

	.collection-heading {
		-webkit-text-stroke: 1px black;
	}
	.nav-bar {
		align-items: center;
	}
}